# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\development\workSpace\dingtalk_developers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
